.sidebar{
    position: fixed;
    background-color: white;
    bottom: 0;
    left: 0;
    top: 55px;
    width: 72px;
    z-index: 200;
    padding-top: 5px;
}

.sidebar-link{
    height: 76px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.sidebar-link:hover{
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}

.sidebar-link img{
    height: 24px ;
    margin-bottom: 6px;
}

.sidebar-link div{
    
    font-size: 10px;
}

/* open slidbar css */

#open-sideBar{
    /* visibility: hidden; */
    display: none;
}

