

.video-preview{
}

/* inside .video-preview */
.video-thumbnail{
    width: 100%;
    margin-bottom: 12px;
    position: relative;
}

.video-time{
    background-color: black;
    position: absolute;
    color: white;
    font-weight: 500;
    right: 5px;
    bottom: 20px;
    padding: 2px 6px;
    border-radius: 4px;
    opacity: 0.7;
}
/* inside .video-preview */
.video-details{
    display: grid ;
    grid-template-columns: 50px 1fr;
    
}

/* inside .video-details */


.channel-picture img{
    width: 40px;
    border-radius: 50%;
}

/* inside .video-details */
.video-info{
    
}

/* inside .video-info */

.video-title{
    font-weight: bold;
    font-size: 16px;
    line-height: 1.4
    ;
    margin-bottom: 8px;
}
.video-author{
    color: rgb(170, 170, 170);
    font-size: 12px;
    margin-bottom: 6px;
}
.video-status{
    color: rgb(170, 170, 170);
    font-size: 12px;
}


.videos-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}